@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif;
  height: 100%;
  color: hsla(0, 0%, 0%, 0.8);
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Work Sans', serif !important;
  font-weight: bold !important;
}

main {
  flex: 1;
  min-height: 76vh;
}

.proj {
  transition: all .2s ease-in;
}

.proj .desc {
  display: none;
}

.proj:hover .desc {
  display: flex;
}

::selection {
  background-color: #ffedc5;
  color: black;
}

.my-masonry-grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 25px;
  background-clip: padding-box;
}


.my-masonry-grid_column>div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 25px;
}

.proj-btn {
  @apply px-4 py-2 rounded bg-black text-gray-100
}

.proj-btn:hover {
  @apply shadow-2xl bg-white text-gray-800
}